@{
    ViewData["Title"] = "Home Page";
}
<style>
    .tituloContainerHome{
        width: 100%;
        height: 100%;
    }

</style>
<div class="text-center tituloContainerHome">
    <h1 class="titulo">Bienvenidos a LoDeLucas</h1>
</div>
